
/*******************************************************
************* Made for people.php **********************
********************************************************/

/*  Fixes vertical gap between first element list and next element  */
#namerow ul {
    margin-block-end: 0;
}

/*******************************************************
************* Made for admin_header.php ****************
********************************************************/


.navbar {
    padding: 5px;

}
/* Positions home/logout button */
.topnav .container .row {
    margin: -7px;


}

ul.topbuttons li {
    margin: 0 5px;
    padding: 5px 0 0;
    width: 32px;
    display: inline-block;
    text-align: center;

}

ul.topbuttons {
    margin: 5px 0 10px -25px;
    float: right;
}

/* Positions and sets color of topbar <a> buttons to white. Making the a tags "blue" shine on hover */
.hover-effect {
    vertical-align: middle;
    color: #fff;
}

/* Sets the background gradient to white / black (bootstraps dark) creating a stylized look,
   separating the "company logo" and the nav portion of the header in white and black respectably
   (only really separated on full screen view)*/
.gradient-background {
    background: -webkit-linear-gradient(45deg, #ffffff 48%, #343A40 48%);
    background: -webkit-linear-gradient(left, #ffffff 48%, #343A40 48%);
    background: linear-gradient(45deg, #ffffff 48%, #343A40 48%);
}




