
/*******************************************************
************* Made for people.php **********************
********************************************************/

/*  Fixes vertical gap between first element list and next element  */
ul {
    margin-block-end: 0;
}
/*  adds gap between the main container and the box containing search and filtering  */

/*  Fixes position of the crew "man" icons  */
.list-people .man-icon{
    vertical-align:unset;
}




/*******************************************************
************* Made for admin_header.php ****************
********************************************************/


.navbar {
    padding: 5px;

}

/*
header top
*/
.topnav{


}

.topnav .container .row {
    margin: -7px;


}

.active{
    border-bottom: 5px solid red;
}

ul.topbuttons li i {
    margin:0;
}

ul.topbuttons li {
    display:inline;
    margin: 0 5px;
    padding: 5px 0 0;
    width: 32px;
    display: inline-block;
    text-align: center;

}

ul.topbuttons {
    margin: 5px 0 10px -25px;
    float: right;
}

.hover-effect {
    vertical-align: middle;
    color: #fff;
}

.gradient-background {
    background: -webkit-linear-gradient(45deg, #ffffff 48%, #343A40 48%);
    background: -webkit-linear-gradient(left, #ffffff 48%, #343A40 48%);
    background: linear-gradient(45deg, #ffffff 48%, #343A40 48%);
}




