
/*******************************************************
************* Made for people.php **********************
*   *******************************************************/

/*  Fixes vertical gap between first element list and next element  */
ul {
    margin-block-end: 0;
}

.peopleHeader{
    padding: 1rem;
    padding-left: 0;
}

img{
    vertical-align:unset;
}

