

body {
    background-color: #e5e5e5;
    background-image: url("../../img/background.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;

}


main{

    margin: 2px;
    min-height: 100%;

}


body, html {
    height: 100%;

}
body.modal-open {
    overflow:hidden;

}
.modal-open .modal {
    overflow-y: scroll;
}

section.landing-page {
    height: 100%;
}

.front-cover {
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



#welcomediv {
    width: 30%;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}

#registerdiv {
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}

#logindiv {
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}


.footer-copyright{
    background-color: rgba(0,0,0,0.25);
    padding: 20px 0;
}


.main-picture img {
    width: 100vw;
    height: 500px;
}


.card {
    margin-bottom: 1.5rem;
    border-radius: 0;
}


/*******************************************************
************* Made for people.php **********************
********************************************************/

/*  Fixes vertical gap between first element list and next element  */
#namerow ul {
    margin-block-end: 0;
}

/*******************************************************
************* Made for admin_header.php ****************
********************************************************/


.navbar {
    padding: 5px;

}
/* Positions home/logout button */
.topnav .container .row {
    margin: -7px;


}

ul.topbuttons li {
    margin: 0 5px;
    padding: 5px 0 0;
    width: 32px;
    display: inline-block;
    text-align: center;

}

ul.topbuttons {
    margin: 5px 0 10px -25px;
    float: right;
}

/* Positions and sets color of topbar <a> buttons to white. Making the a tags "blue" shine on hover */
.hover-effect {
    vertical-align: middle;
    color: #fff;
}

/* Sets the background gradient to white / black (bootstraps dark) creating a stylized look,
   separating the "company logo" and the nav portion of the header in white and black respectably
   (only really separated on full screen view)*/
.gradient-background {
    background: -webkit-linear-gradient(45deg, #ffffff 48%, #343A40 48%);
    background: -webkit-linear-gradient(left, #ffffff 48%, #343A40 48%);
    background: linear-gradient(45deg, #ffffff 48%, #343A40 48%);
}







/*//////////////////////////////////////////
/////////////////admin/Index////////////////////
 ////////////////////////////////////////*/

.stat-info-container .stat-icon {
    vertical-align: top;
}
.inline-block {
    display: inline-block;
}


.stat-info-container .stat-info {
    margin-left: 30px;
    margin-top: 7px;
}

.stat-info-container .stat-text {
    font-size: 14px;
    color: #868e96;
}

.stat-info-container .stat-value {
    font-size: 24px;
    color: #373757;
}

.stat-info-container .stat-icon i {
    border-style: solid;
    border-radius: 100px;
    padding: 15px;
    display: inline-block;
}




.icon-enhet::after{
    content: url("../../img/enhet.png");
}

.icon-total::after {
    content: url("../../img/total.png");
}

.icon-month::after {
    content: url("../../img/month.png");
}

.icon-jippi::after {
    content: url("../../img/jippi.png");
}




.card-custom {
    max-width: 360px;
    min-width: 360px;

}

.volunteers_list {
    display: flex;
    flex-direction: row;
    max-height: 50px;

}

.volunteers_item {
    display: flex;
    justify-content: space-evenly;
    min-width: 50px;
    max-width: 60px;
    border:0;
}





/*//////////////////////////////////////////
/////////////////Events////////////////////
 ////////////////////////////////////////*/





/*///////CARD Image///////////*/

.card-img-caption {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.card-img-caption .card-img-top {
    z-index: 0;
    max-height: 150px;
}

.card-img-caption .card-text-top {
    text-align: center;
    width: 100%;
    margin-top: 2rem;
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 25px;
}
.card-img-caption .card-text-bottom {
    text-align: center;
    width: 100%;
    margin-top: 5.5rem;
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 25px;
}
.click-box {
    display: -webkit-box;

}

a.click-card {
    color: inherit;
    text-decoration: inherit;
}

a.click-card button {
    z-index: 1;
}

a.card.disabled,
a.card[disabled] {
    pointer-events: none;
    opacity: .8;
}

.managerchecked {
    transform: scale(1.25);
    -webkit-transform: scale(1.25);
    margin: 3px !important;
}